html, body, .container-root {
    background: var(--background);
}

:root {
    --font-color-default: #fff;
    --background: #242424;
}

.container-root > * {
    color: var(--font-color-default) !important;
}

.list-group-separator {
     margin-top: 10px;
     margin-bottom: 10px;
     width: 100%;
     display: block;
}
